@font-face {
	font-family: 'king';
	src: 
		local("王漢宗特黑體繁"), 
		url("fonts/王漢宗特黑體繁.ttf");
	font-weight: bold;
}
@font-face {
	font-family: 'thin-king';
	src: 
		local("王漢宗細黑體繁"), 
		url("fonts/王漢宗細黑體繁.ttf");
	font-weight: normal;
}

body * {
	font-family: 'king';
}

body {
    min-height: 100vh; /* 確保 body 高度等於視窗高度 */
    margin: 10px; /* 外距 */
    box-sizing: border-box;
    padding: 20px;
    font-size: max(16px, 1.5vw); /* 字體最小值 */
    font-family: Arial, sans-serif;
    color: #333; /* 文字顏色，確保對比度 */
    background: #fff8f4;
    background-image: url('UI/米白色紋理.webp');
}

.navigation-overlay{
    position:fixed;
    display:none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:4;
    background-color:#6f6f6fcc;
    backdrop-filter:blur(2px);
}

    .navigation-overlay .overlay-text h3 {
        position: fixed;
        display: flex;
        justify-content: center;
        color: #fff8f4;
        white-space: nowrap;
        align-items: center;
    }
    .navigation-overlay .overlay-text span{
        margin-right: 8px;
    }
.top-bar {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 6em;
    background: #d8d8d871;
    backdrop-filter: blur(10px);
}

.sidebar {
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 35px;
    overflow-y: auto;
    scrollbar-width: none;
    background: linear-gradient(to bottom, #9f573e, #7b3c2c);
    padding: 25px 20px;
    transition: all 0.2s ease;
}
.sidebar-background {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35px;
    flex-direction: column;
    padding: 25px 20px;
    overflow-y: auto;
    scrollbar-width: none;
    background-image: url('UI/咖啡底紋理.png');
    transition: all 0.2s ease;
}
.sidebar:hover,
.sidebar:hover .sidebar-background {
    width: 230px;
}
.sidebar-header{
    display: flex;
    align-items:center;
    color: #fff;
}
    .sidebar-header span {
        margin-left: 8px;
    }
    .sidebar-header h2 {
        font-size: 1.5em;
        font-weight: 600;
        margin-left: 27px;
        white-space: nowrap;
    }
    .sidebar-links h4{
        opacity:0;
    }
.sidebar:hover .sidebar-links h4{
    opacity: 1;
}

    .sidebar-links h4{
        color:#fff;
        font-weight: 500;
        margin: 10px 0;
        white-space: nowrap;
    }
.sidebar-links{
    list-style:none;
    margin-top: 20px;
    height: 100%;
    padding: 0;
}

    .sidebar-links li a {
        display: flex;
        align-items: center;
        gap: 0 25px;
        color: #e5e4e4;
        font-size: 0.9em;
        font-weight: 500;
        padding: 15px 5px;
        white-space: nowrap;
        text-decoration: none;
        border-radius: 10px;
        transition: linear 1s;
    }
        .sidebar-links li a:hover {
            background: #5d2932;
            color: #fff;
            transition: linear 0s;
        }
    .sidebar-links li button {
        background: none;
        border: none;
    }
#video-container,
#game-container,
#media-container {
    display: none;
}
    #video-container:target,
    #game-container:target,
    #media-container:target {
        display: flex;
    }
.video-container,
.game-container,
.media-container {
    margin-top: 150px;
    flex-wrap: wrap; /* 響應式排列 */
    gap: 20px; /* 卡片間距 */
    justify-content: center;
}
    .video-container h1,
    .game-container h1,
    .media-container h1{
        position:fixed;
        top:0;
        margin-top:1em;
        z-index:2;
    }

    .work-card {
        position: relative;
        background: #e0dfdf77;
        max-width: 600px;
        text-align: center;
        overflow: hidden;
        border-radius: 10px;
    }
        .work-card a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }

.description {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease 0.3s;
    background: linear-gradient(to bottom, #9f573e77, #7b3c2c77);
    backdrop-filter: blur(30px);
    z-index: 1;
    opacity: 0;
}

.work-card:hover .description {
    opacity: 100%;
}

.work-card h2 {
    font-size: max(18px, 2vw); /* 標題字體 */
    color: white;
    margin: 10px;
}

.work-card p {
    font-size: max(14px, 1.2vw); /* 簡介字體 */
    color: white;
    margin: 10px
}
.help-bar {
    z-index: 4;
    position: fixed;
    top: 85vh;
    left: 89vw;
}
    .help-bar .help-button span {
        pointer-events:none;
        display: flex;
        align-items: center;
        justify-content:center;
    }
.help-button img {
    position: relative;
    transform: translate(75%, 0%);
    z-index:-1;
}

::selection {
    background-color: #9f573e;
    color: #fff8f4;
}

/* 針對小螢幕 */
@media screen and (max-width: 600px) {
    body {
        border-width: 2px;
        border-radius: 10px;
        font-size: 16px;
    }

    .work-card {
        max-width: 100%; /* 小螢幕時卡片寬度佔滿 */
    }

        .work-card h2 {
            font-size: 16px;
        }

        .work-card p {
            font-size: 14px;
        }

        .work-card button {
            font-size: 14px;
        }
}

/* 針對大螢幕 */
@media screen and (min-width: 1200px) {
    body {
        border-width: 6px;
        border-radius: 20px;
        font-size: 18px;
    }

    .work-card h2 {
        font-size: 20px;
    }

    .work-card p {
        font-size: 16px;
    }
}
